[submodule "GenGraderTable"]
	path = GenGraderTable
	url = git@github.com:Mizzou-CS-Core/GenGraderTable.git
	branch = main
	
[submodule "CompileAndRun"]
	path = CompileAndRun
	url = git@github.com:Mizzou-CS-Core/CompileAndRun.git
